.waiting_active {
  display: flex;

  align-items: center;
justify-content: center;

  vertical-align: middle;
  font-weight: 700;
  font-family: "Lato", sans-serif;

height: calc((105 / 832) * 100dvh);
  min-width: calc((339 / 1280) * 100dvw);
  margin: calc((59 / 832) * 100dvh) auto;
}

.waiting_active_number {
  font-family: "Work Sans", sans-serif;
  background-image: url("/images/waiting/Ellipse_44.svg");
  background-position: center center;

  background-repeat: no-repeat;

  background-size: contain;
  width: calc((105 / 1280) * 100dvw);
  height: calc((105 / 832) * 100dvh);
  display: flex;
  align-items: center;
    font-size: clamp(10px, calc((40 / 1280) * 100dvw), 80px);
  justify-content: center;
}

.waiting_active_text {
    font-size: clamp(10px, calc((32 / 1280) * 100dvw), 64px);
  position: relative;
  z-index: 30;
  margin-left: calc((12 / 1280) * 100dvw);
  font-family: "Lato", sans-serif;
font-weight: 500;
text-align: center;
vertical-align: middle;

}
