* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.waiting_description {
  min-height: calc((283 / 832) * 100dvh);
  margin: 0 auto;
}
.waiting_desc-content {
  display: flex;
  flex-direction: column;
  width: calc((589 / 1280) * 100dvw);
  min-height: calc((243 / 832) * 100dvh);
  margin: 0 auto;
}
.waiting_interactive-title {  min-height: calc((47 / 832) * 100dvh);
 white-space: normal;     /* Разрешить перенос строк */
  word-wrap: break-word;   /* Переносить длинные слова */
  overflow-wrap: break-word; /* Современный аналог */
  margin-top: calc((40 / 832) * 100dvh);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: clamp(10px, calc((40 / 1280) * 100dvw), 80px);
  letter-spacing: clamp(0.3px, calc((40 /100 / 1280) * 100dvw), 0.8px);
}.waiting_interactive-description > * {
  margin: 0;
  padding: 0;
}
.waiting_interactive-description {  min-height: calc((160 / 832) * 100dvh);
  white-space: normal;     /* Разрешить перенос строк */
  word-wrap: break-word;   /* Переносить длинные слова */
  overflow-wrap: break-word; /* Современный аналог */
  width: calc((589 / 1280) * 100dvw);
  margin-top: calc((36 / 832) * 100dvh);

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: clamp(10px, calc((32 / 1280) * 100dvw), 64px);
  letter-spacing: clamp(0.3px, calc((32 /100 / 1280) * 100dvw), 0.64px);
}


