* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer {
  padding: 0px;
  margin: 0px;
  background-color: #853cff;
  width: 390px;
  height: 844px;
}

.description {
  position: relative;
  width: 390px;
  height: 744px;
}

.logo {
  padding-top: 23px;
  margin-left: 36px;
}

.description-content {
  margin-top: 115px;
  background-color: white;
  width: 100%;
  height: 744px;
  border-radius: 26px;

  border-radius: 26px;
}

body {
  font-family: "Lato", sans-serif;
}

.description-content > p {
  padding-top: 79px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.grey {
  height: 739px;
  background-color: #a9a9a9;
  top: 140px;

  position: absolute;
  border-radius: 26px;
  width: 355px;
  margin-left: 18px;
}

.grey-line {
  height: 7px;
  background-color: #a9a9a9;
  top: 135px;

  position: absolute;
  border-radius: 26px;
  width: 72px;
}

.fixed {
  position: absolute;

  left: 318px;

  z-index: 0;

  top: 6px;
}
