* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.waiting_participant_waiting {
  display: flex;
 
 
  background-color: white;
  overflow: hidden;
 
}

.waiting_description_column {
  margin-left: auto;

  
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.waiting_logo {
  position: relative;
  height: calc((62 / 832) * 100dvh);
}

#logo {
  position: absolute;
  right: calc((40 / 1280) * 100dvw);
  top: calc((12 / 832) * 100dvh);
  width: calc((123 / 1280) * 100dvw);
height: calc((50 / 832) * 100dvh);
}

.waiting_desc-comp {
  background-color: #ffffff;
margin:0 auto;
  width: calc((669 / 1280) * 100dvw);
min-height: calc((370 / 832) * 100dvh);
  border-radius: 16px;;
margin-top: calc((17 / 832) * 100dvh);

display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Чтобы контент не прилипал вплотную к краям */
  box-sizing: border-box;
}


.waiting_leader_buttons {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
    width: calc((419 / 1280) * 100dvw);
height: calc((50 / 832) * 100dvh);
margin: calc((17 / 832) * 100dvh) auto;
}
.waiting_back {
  background-color: #f0436c;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  vertical-align: middle;
  color: white;
  border-radius: 5px;
  border: #f0436c 3px;
  cursor: pointer;
  width: calc((185 / 1280) * 100dvw);
height: calc((50 / 832) * 100dvh);

font-size: clamp(10px, calc((24 / 1280) * 100dvw), 48px);
  letter-spacing: clamp(0.1px, calc((24 /100 / 1280) * 100dvw), 0.48px);
text-align: center;
vertical-align: middle;

}
.waiting_back:hover {
  background-color: #de7d94;
  border: #de7d94 3px;
}
.waiting_start {
  background-color: #6ab23d;
  font-family: "Lato", sans-serif;
  color: white;
  border-radius: 5px;
  border: #6ab23d 3px;
  cursor: pointer;
    width: calc((185 / 1280) * 100dvw);
height: calc((50 / 832) * 100dvh);
font-size: clamp(10px, calc((24 / 1280) * 100dvw), 48px);
  letter-spacing: clamp(0.1px, calc((24 /100 / 1280) * 100dvw), 0.48px);
}
.waiting_start:hover {
  background-color: #9ac57e;
  border: #9ac57e 3px;
}
.waiting_edit_popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.waiting_edit_popup-content {
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  width: 600px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.waiting_edit_popup-text {
  font-size: 24px;
  margin-bottom: 24px;
}

.waiting_edit_popup-actions {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.waiting_edit_popup-btn {
  padding: 12px 32px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.waiting_edit_popup-btn.save {
  background-color: #6ab23d;
  color: white;
}

.waiting_edit_popup-btn.cancel {
  background-color: #f0436c;
  color: white;
}

.waiting_edit_popup-btn:hover {
  opacity: 0.9;
}

.waiting_description_column_style{
  background-color: #853cff;
    width: calc((749 / 1280) * 100dvw);
    min-height: calc((516 / 832) * 100dvh);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-bottom: calc((20 / 832) * 100dvh); 
    border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}