* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.interactive_body {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.interactives_lists {
  flex-grow: 1;
}
.interactives_top_menu {
  width: 1319px;
  height: 217px;
  margin: 0 auto;
  letter-spacing: 1px;
  margin-top: 19px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-rows: 1fr 1fr;
}

.interactives_top_menu > div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.interactives_top_menu_header {
  grid-column: 1;
  grid-row: 2;
  align-self: end;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.interactives_top_menu_create_interactive {
  cursor: pointer;
  grid-column: 2;
  grid-row: 2;
  justify-self: end;

  align-self: end;

  width: 313px;
  height: 62px;
  background-color: #6ab23d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
  vertical-align: middle;
}
.interactives_top_menu_create_interactive:hover {
  background-color: #9ac57e;
}
.interactives_backButton {
  cursor: pointer;
  width: 229px;
  height: 62px;
  border-radius: 5px;
  background-color: white;
  color: #853cff;
  border: 2px solid #853cff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.interactives_backButton:hover {
  cursor: pointer;
  width: 229px;
  height: 62px;
  border-radius: 5px;
  background-color: #853cff;
  color: white;
  border: 2px solid #853cff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.interactives_lists {
  width: 1345px;
  height: 1504px;

  margin: 0 auto;
  margin-top: 35px;
  position: relative;
  margin-bottom: 12px;
}

#interactives_line {
  position: absolute;
  top: 13px;
  left: 0;
}

#interactives_line2 {
  position: absolute;
  top: 780px;
  left: 0;
}

.interactive_list_second {
  margin-top: 34px;
}
