BOT_TOKEN=your-bot-token
# мой бот поменяй на свой
SECRET_KEY=your-key


# Настройки PostgreSQL
DB_HOST=your_DB_HOST_here
DB_PORT=your_DB_PORT_here
DB_NAME=your_DB_NAME_here
DB_USER=your_DB_USER_here
DB_PASSWORD=your_DB_PASSWORD_here

# Redis
REDIS_HOST=your_REDIS_HOST_here
REDIS_PORT=your_REDIS_PORT_here

#email from
EMAIL_LOGIN=your_login
EMAIL_PASSWORD=your_password
EMAIL_SMTP_SERVER=your_server
EMAIL_SMTP_PORT=your_port

# Minio
MINIO_ENDPOINT=your_MINIO_ENDPOINT_here
MINIO_ACCESS_KEY=your_MINIO_ACCESS_KEY_here
MINIO_SECRET_KEY=your_MINIO_SECRET_KEY_here
MINIO_BUCKET=your_MINIO_BUCKET_here
# ссылка публичная на minio
URL_MINIO=https://regionally-model-blackbird.cloudpub.ru/
# telegram_id
TELEGRAM_TEST_CHAT_ID=your_TELEGRAM_TEST_CHAT_ID_here

# url для правильной работы системы
URL_BACK=http://fastapi_app:8000/
# ваш прокси-сервер http://localhost:3000
URL_FRONT=https://statically-creative-emu.cloudpub.ru/ 

# full url до апи(можно публичную)
NUXT_PUBLIC_API_BASE=http://localhost:8000
# с вебсокетом аналогично(можно публичную или локалхост http://localhost:8000)
NUXT_PUBLIC_WS_BACKEND=wss://statically-creative-emu.cloudpub.ru/ws