* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countdown_timer {
  padding: 0px;
  margin: 0px;

  height: 100vh;
  background-color: #853cff;
}

.countdown_timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 128px;
  font-weight: 700;
  color: white;

  z-index: 3;

  pointer-events: none;
}

#countdown_circle {
  position: absolute;
  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 2;
}

#countdown_circle_line {
  position: absolute;
  top: calc(50%+159px);

  left: calc(50%-109px);

  transform: translate(-50%, -50%);
}

#countdown_circle_star {
  position: absolute;
  top: calc(50%+75px);

  left: calc(50%-157px);

  transform: translate(-50%, -50%);
  z-index: 0;
}

#countdown_star_2 {
  height: 213px;
  width: 106px;
  position: absolute;
  top: 230px;

  left: 0;

  transform: translate(0, -50%);

  z-index: 0;
}

#countdown_star_3 {
  position: absolute;
  right: 108px;

  top: 95px;

  transform: translateY(-50%);

  z-index: 4;
}

#countdown_star_6 {
  position: absolute;
  bottom: 60px;

  left: 28px;

  z-index: 0;
}

#countdown_star_7 {
  position: absolute;
  bottom: 133px;

  right: 13px;

  z-index: 0;
}

#countdown_vector {
  position: absolute;
  right: 0;

  top: 130px;

  transform: translateY(-50%);

  z-index: 2;
}
