


.countdown_timer {
  display: flex;
  justify-content: center;  /* по горизонтали */
  align-items: center;      /* по вертикали */
  height: 100dvh;
  width: 100dvw;
  background-color: #853cff;
}
#countdown_ellipse3_leader {
  position: absolute;



 width: calc((17/1280) * 100dvw);;
height: calc((17/832) * 100dvh);
    top: calc((54/832) * 100dvh);

  left:calc((439/1280) * 100dvw);;

}


#layout {
  display: block;
 height: 100dvh;
  width: 100dvw;   /* растягивается на высоту экрана */
  object-fit: cover; /* чтобы svg не терял пропорции */
}
#countdown_star_4_2_leader {
  position: absolute;
  top: 445px;

  right: 70px;

  z-index: 2;
}

#countdown_star_13_leader {
  position: absolute;




 width: calc((110/1280) * 100dvw);;
height: calc((110/832) * 100dvh);
    top: calc((20/832) * 100dvh);

  left:calc((230/1280) * 100dvw);;
}

#countdown_ellipse2_leader {
  position: absolute;


 width: calc((17/1280) * 100dvw);;
height: calc((17/832) * 100dvh);
    bottom: calc((372/832) * 100dvh);

  left:calc((18/1280) * 100dvw);;
}

#countdown_star_12_leader {
  position: absolute;
  top: 5px;

  right: 415px;

  z-index: 2;
}

#countdown_star_6_1_leader {
  position: absolute;


 width: calc((232/1280) * 100dvw);;
height: calc((232/832) * 100dvh);
    bottom: calc((126/832) * 100dvh);

  left:calc((99/1280) * 100dvw);;



}

#countdown_star_3_2_leader {
  position: absolute;
 
 width: calc((90/1280) * 100dvw);;
height: calc((90/832) * 100dvh);
    bottom: calc((20/832) * 100dvh);

  right:calc((360/1280) * 100dvw);;
  z-index: 2;
}

.countdown_timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(50px, calc((200 / 1280) *100dvw), 400px);
  font-weight: 700;
  color: white;

  z-index: 3;

  pointer-events: none;
}

#countdown_star_7_2_leader {
  position: absolute;
  bottom: calc((45/832) * 100dvh);

  right:calc((45/1280) * 100dvw);;
  width: calc((274/1280) * 100dvw);;
height: calc((274/832) * 100dvh);



  z-index: 2;
}

#countdown_star_9_leader {
  position: absolute;



  bottom: calc((56/832) * 100dvh);

  left:calc((292/1280) * 100dvw);;
  width: calc((111/1280) * 100dvw);;
height: calc((111/832) * 100dvh);
  z-index: 2;
}

#countdown_ellipse1_leader {
  position: absolute;
  top: 348px;

  right: 20px;

  z-index: 2;
}

#countdown_circle_leader {
  position: absolute;
  
  height: calc((598 / 832) * 100dvh);
    width: calc((638 / 1280) * 100dvw);



  z-index: 2;
}

#countdown_circle_line {
  position: absolute;


}

#countdown_circle_star {
  position: absolute;
  top: calc(50% + 75px);

  left: calc(50% - 157px);

  transform: translate(-50%, -50%);
  z-index: 0;
}

#countdown_star_2_leader {
  position: absolute;


  top: calc((230/ 832) * 100dvh);

  left: 0;

  transform: translate(0, -50%);

  z-index: 0;
}

#countdown_star_3 {
  position: absolute;
  right: 108px;

  top: 95px;

  transform: translateY(-50%);

  z-index: 4;
}

#countdown_star_6 {
  position: absolute;
  bottom: 60px;

  left: 28px;

  z-index: 0;
}

#countdown_star_7 {
  position: absolute;
  bottom: 133px;

  right: 13px;

  z-index: 0;
}

#countdown_vector {
  position: absolute;
  right: 0;

  top: 130px;

  transform: translateY(-50%);

  z-index: 2;
}

#countdown_vector_leader {
  position: absolute;
  left: 0;
  bottom: 0px;

  z-index: 2;
}
// + calc((205 / 832) * 100dvh) calc((249 / 832) * 100dvh)
#countdown_circle_line_leader {
  height: calc((820 / 832) * 100dvh);
    width: calc((820 / 1280) * 100dvw);

}

#countdown_vector2_leader {
  position: absolute;
  right: 0;

  top: 0px;

  z-index: 2;
}

#countdown_star_8_leader {
  position: absolute;
  right: 200px;

  top: 65px;

  z-index: 0;
}
