
:root {
  --app-height: 100vh;
}
#interactive_end_vector {
  position: absolute;
  height: 50px;
  width: 50px;

  right: -25px;

  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.interactive_end {
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: white;
  
}

.interactive_end_timer {
  margin-left:calc((29 / 390) * 100dvw);;
  margin-right: calc((29 / 390) * 100dvw);;
  background-color: #853cff;
  height: calc((176 / 844) * var(--app-height));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc((26 / 844) * var(--app-height));
  border-bottom-right-radius:  calc((26 / 844) * var(--app-height));position: relative;
}

#interactive_end_logo{
  position: absolute;
  top:calc((10 / 844) * var(--app-height));
  left:calc((7 / 390) * 100dvw);; ;
   height: calc((20 / 844) * var(--app-height));
  width: calc((50 / 390) * 100dvw);;
}

