.interactive_end_leader_results {
  position: relative;
}
#interactive_end_rectangle {
  position: absolute;
  width: calc((40/1280)*100dvw);;
    height: calc((55 / 832) *100dvh);
  top: calc((74 / 832) *100dvh);
  right: calc((64/1280)*100dvw);
}
#interactive_end_rectangle2 {
  position: absolute;
  bottom: 0px;
  right: calc((127/1280)*100dvw);
  z-index: 3;
  width: calc((74/1280)*100dvw);;
    height: calc((71 / 832) *100dvh);
}
#interactive_end_rectangle3 {
  position: absolute;
  top: calc((238 / 832) *100dvh);
  right: calc((150/1280)*100dvw);
  z-index: 2;
}
#interactive_end_rectangle4 {
  position: absolute;
 width: calc((266/1280)*100dvw);;
    height: calc((260 / 832) *100dvh);
  right: calc((170/1280)*100dvw);
  top:calc((0 / 832) *100dvh);
  z-index: 2;
}
#interactive_end_rectangle5 {

position: absolute;
  width: calc((210/1280)*100dvw);;
    height: calc((190 / 832) *100dvh);
  bottom:   calc((-70 / 832) * 100dvh);
  right: calc((400/1280)*100dvw);
 z-index: -1;
}
#interactive_end_star {
  position: absolute;
  bottom: 62px;
  right: 208px;
  z-index: 2;
}
#interactive_end_vector {
  position: absolute;
  top: 20px;
  right: 279px;
  z-index: 2;
}
#interactive_end_vector2 {
  position: absolute;
  top: 98px;
  right: 197px;
  z-index: 2;
}
#interactive_end_vector3 {
  position: absolute;
  top: 165px;
  right: 312px;
  z-index: 2;
}
#interactive_end_vector4 {
  position: absolute;
  top: 191px;
  right: 251px;
  z-index: 2;
}

#interactive_end_rectangle6 {
  position: absolute;
    width: calc((61/1280)*100dvw);;
    height: calc((22 / 832) *100dvh);
  top:   calc((30 / 832) * 100dvh);
  right: calc((548/1280)*100dvw);
  z-index: 2;
}

#interactive_end_ellipse {
  position: absolute;
  top: 75px;
  right: 529px;
  z-index: 2;
}

#interactive_end_vector5 {
  position: absolute;
  top: 169px;
  right: 380px;
  z-index: 2;
}
#interactive_end_ellipse2 {
  position: absolute;
 top:   calc((-2 / 832) * 100dvh);
  right: calc((498/1280)*100dvw);
  z-index: 2;
}

#interactive_end_rectangle7 {
  position: absolute;
  top: 263px;
  right: 648px;
  z-index: 2;
}

#interactive_end_rectangle8 {
  position: absolute;
  top: 115px;
  right: 606px;
  z-index: 2;
}

#interactive_end_rectangle9 {
  position: absolute;

  z-index: 2;
     width: calc((57/1280)*100dvw);;
    height: calc((41 / 832) *100dvh);
  top:   calc((-10 / 832) * 100dvh);
  right: calc((671/1280)*100dvw);
}

#interactive_end_ellipse3 {
  position: absolute;
    width: calc((20/1280)*100dvw);;
    height: calc((20 / 832) *100dvh);
  bottom:    calc((50 / 832) * 100dvh);
  right: calc((682/1280)*100dvw);
  z-index: 2;
}

.end_interactive-title {
  font-family: "Lato", sans-serif;
  height: calc((36/832)*100dvh);
font-weight: 700;
font-style: Bold;
font-size:clamp(10px, calc((40 / 1280)*100dvw), 80px);
letter-spacing: clamp(0.10px, calc((40 /100 / 1280)*100dvw), 0.80px);;
vertical-align: middle;
color:#FFFFFF;
margin-left: calc((30/1280)*100dvw);
margin-top:calc((64/832)*100dvh);
}

.participants-num {margin-top:calc((45/832)*100dvh);
  display: flex;margin-left: calc((70/1280)*100dvw);
}

.num {
  background-color: #f7f7f766;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(6/832  * 100dvh)  calc(8/1280  * 100dvw) calc(6/832  * 100dvh)  calc(8/1280  * 100dvw);
  border-radius: calc((5/832*100dvh));
}

.num > div {
  color: #ffffff;  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size:clamp(10px, calc((40 / 1280)*100dvw), 80px);
  font-family: "Lato", sans-serif;
}

.participant-text {
  color: #ffffff;  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f766;  border-radius: calc((5/832*100dvh));
 
  margin-left: calc((29/1280)*100dvw);
  font-family: "Lato", sans-serif;
  vertical-align: middle;  font-size:clamp(10px, calc((40 / 1280)*100dvw), 80px);
  padding: calc(6/832  * 100dvh)  calc(16/1280  * 100dvw) calc(6/832  * 100dvh)  calc(16/1280  * 100dvw);

}
