.end_description{position: absolute;
  margin-top:calc((45 / 844) * var(--app-height));
  margin-left:calc((20 / 390) * 100dvw);; ;
}

.end_interactive-title {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;

font-weight: 700;
font-style: Bold;
font-size: clamp(5px, calc((24 / 840) * var(--app-height)),48px);
letter-spacing:  clamp(0.10px,calc((24 / 840) * var(--app-height)),0.48px);
line-height: clamp(5px, calc((24  / 390) * 100dvw),48px);
vertical-align: middle;

display: flex;
align-items: center;
  width: calc((292 / 390) * 100dvw);; ;;
}



.participants-num {

  display: flex;  margin-top:calc((12 / 844) * var(--app-height));


  font-family: Lato;
font-weight: 400;
font-style: Regular;

text-align: center;
vertical-align: middle;

}

.num {
  background-color: #f7f7f766;  border-radius: calc((5 / 844) * var(--app-height));;
}
.num > p {
  color: #ffffff;
  font-weight: 500;font-size: clamp(10px,calc((24 / 840) * var(--app-height)),48px);
letter-spacing:  clamp(0.10px,calc((24 /100/ 840) * var(--app-height)),0.48px);
  font-family: "Work Sans", sans-serif;
  padding:calc((6 / 390) * 100dvw) calc((6 / 390) * 100dvw);
  border-radius: calc((5 / 844) * var(--app-height));; display: flex;
  align-items: center;
}

.participant-text {
  color: #ffffff;
  background-color: #f7f7f766;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  display: flex;
  align-items: center;font-size: clamp(10px, calc((16 / 840) * var(--app-height)),32px);
letter-spacing:  clamp(0.10px,  calc((16 /100/ 840) * var(--app-height)),0.32px);
  margin-left: 15px; 
    padding:calc((12 / 390) * 100dvw) calc((12 / 390) * 100dvw);;; ;  ;  
    border-radius: calc((5 / 844) * var(--app-height));;
}
