.winners_table {
  width: calc((1115 / 1280) * 100dvw);
  margin: 0 auto;
  margin-top: calc((47 / 832) * 100dvh);
  position: relative;
  z-index: 40;
}
.table {
  font-family: "Lato", sans-serif;
  width: calc((1147 / 1280) * 100dvw);
height: calc((487 / 832) * 100dvh);
}

.title {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: clamp(10px, calc(24 / 1280 * 100dvw), 48px);
  font-style: Medium;
  letter-spacing: clamp(0.1px, calc(calc(24 / 100) / 1280 * 100dvw), 0.48px);
  vertical-align: middle;
}

.winners_list {
  font-family: "Lato", sans-serif;
  width: calc((1097 / 1280) * 100dvw);
 display: flex;
flex-direction: column;
  gap: calc((10 / 832) * 100dvh); 
  font-weight: 500;
  height:calc((318 / 832) * 100dvh);
  font-style: Medium;
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 40px);
  letter-spacing: clamp(0.1px, calc(calc(20 / 100) / 1280 * 100dvw), 0.4px);
  vertical-align: middle;
}


#first {
}
.position{  margin-left: calc((16 / 1280) * 100dvw); white-space: nowrap;;
  text-align: center;
  width: calc((16 / 1280) * 100dvw) !important;
}
.winner {
  font-family: "Lato", sans-serif;
  width: calc((1096 / 1280) * 100dvw);
  font-weight: 500;
 display: flex;
 align-items: center;
 height: calc((41/832)*100dvh);
   letter-spacing: clamp(0.1px, calc(calc(20 / 100) / 1280 * 100dvw), 0.4px);
}
.Line {
  background-color: #e9e9e9 !important;
  height: calc((1 / 832) * 100dvh) !important;
    width: calc((1096 / 1280) * 100dvw) !important;
}
.time{ 
width: calc((57 / 1280) * 100dvw) !important; margin-left: calc((318 / 1280) * 100dvw);white-space: nowrap;;text-align: center;
}
.score{ width: calc((14 / 1280) * 100dvw) !important;
  margin-left: calc((162 / 1280) * 100dvw);white-space: nowrap;
}
.name { 
  margin-left: calc((103 / 1280) * 100dvw);white-space: nowrap;;
   width: calc((250 / 1280) * 100dvw);
}


.simplebar-scrollbar{
}
.simplebar-scrollbar::before { 
  background: #853CFF !important;
    border-radius: calc((5/832)*100dvh) !important;
  opacity: 1 !important;
}.simplebar-track.simplebar-vertical {
  background: #E9E9E9 !important;
  width: calc((7/1280)*100dvw)!important;
  border-radius: calc((5/832)*100dvh) !important;
}
/* трек (фон скролла) */
.simplebar-track.simplebar-vertical {
  background: #E9E9E9 !important;
  width: clamp(7px, calc((10/1280)*100dvw), 10px) !important; /* 🟣 адаптивная ширина */
  border-radius: 8px;
  right: 0 !important;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1 !important;
}



