:root {
  --app-height: 100vh;
}
.winners_table {
  font-family: "Lato", sans-serif;
  margin-top:calc((25 / 844) * var(--app-height));
  display: flex;

  justify-content: center;
}

.table {
  height: calc((313 / 844) * var(--app-height));
  width: calc((370 / 390) * 100dvw);
  ;
  border: 2px solid #d9d9d9;
  border-radius:calc((15 / 844) * var(--app-height));
}

.title {
  font-family: "Lato", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: clamp(10px, calc((16 / 390) * 100dvw),32px);
letter-spacing:  clamp(0.10px, calc((16 / 100 / 390) * 100dvw),0.32px);
text-align: center;
vertical-align: middle;
height: calc((24 / 844) * var(--app-height));;
margin-top:calc((6 / 844) * var(--app-height));;
}


