.winners_table {

font-family: 'Lato', sans-serif;;
  margin-top: 50px;
  display: grid;
  /* Используем flexbox */
  justify-content: center;
  /* Выравнивание по горизонтали */

  /* Высота экрана */
  padding-bottom: 129px;;

}

.table {font-family: 'Lato', sans-serif;
  margin-top: 5px;
  width: 1380px;
  ;
  height: 452px;
  ;
  border: 4px solid #D9D9D9;
  border-radius: 30px;
}

.title {font-family: 'Lato', sans-serif;
font-family: 'Lato', sans-serif;;
  text-align: center;
  margin-top: 31px;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  ;
}

.winners_list {font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* 3 строки одинаковой высоты */
  gap: 31px;
  /* расстояние между строками — можно изменить */
  margin-top: 31px;
  padding: 0 16px;


}

#first {}

.winner {font-family: 'Lato', sans-serif;;width: 100%;
  vertical-align: middle;
  background-color: #F7F7F7;
  padding: 33px;
  border-radius: 5px;
  font-weight: 500;


  font-size: 32px;
  ;
  line-height: 24px;
  ;
  text-align: left;


  /* Новый стиль для выравнивания содержимого */
  display: flex;
  align-items: center;
}

.name {
  margin-left: 41px;
  ;
}

.goto_main_menu{margin-left: auto;margin-right: 34px;
  margin-top:50px;cursor: pointer;
}

.goto_main_menu_button{cursor: pointer;
  background-color:white;
  width: 280px;
  height: 65px;
  border: 2px solid #853CFF;
  border-radius: 5px;;
  
  font-weight: 500;
  font-size: 24px;
  vertical-align: middle;color:#853CFF;
}
.goto_main_menu_button:hover{
  cursor: pointer;
  background-color: #853CFF;
  width: 280px;
  height: 65px;
  border-radius: 5px;;
  border: 2px #853CFF;;
  font-weight: 500;
  font-size: 24px;
  vertical-align: middle;color:white;
}
.winner-position{margin-right: 46px;
  margin-left: auto;
}