.winners_table {
  font-family: "Lato", sans-serif;
  margin-top: 5px;
  display: flex;

  justify-content: center;
}

.table {
  margin-top: 5px;
  width: 332px;
  height: 292px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
}

.title {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.winners_list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  gap: 29px;

  margin-top: 45px;
  padding: 0 16px;
}

#first {
}

.winner {
  background-color: #f7f7f7;
  padding: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.name {
  margin-left: 14px;
}
