body.history-background {
  padding-bottom: 42px;
  background-color: #a774fc;
}

.history_download {
  cursor: pointer;
  position: absolute;
  top: 179px;
  left: 1086px;
  width: 202px;
  height: 60px;
  border-radius: 5px;
  background-color: #6ab23d;
  border: 1px #6ab23d;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
}
.history_download:hover {
  background-color: #9ac57e;
  border: 1px #9ac57e;
}
.history_fon {
  background-color: #a774fc;
  height: 1159px;
  margin-bottom: 56px;
}

.history {
  min-height: 100vh;
  height: 50px;
  width: 1360px;
  margin: 0 auto;

  padding-top: 12px;
}

.history_logo {
  width: 139px;
  margin-left: auto;
}

.history_content-fon {
  margin-top: 8px;
  width: 1360px;
  min-height: 1033px;
  background-color: white;
  border-radius: 40px;
}

.history_backButton {
  cursor: pointer;
  width: 229px;
  height: 62px;
  border-radius: 5px;
  background-color: white;
  color: #853cff;
  border: 2px solid #853cff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.history_backButton:hover {
  cursor: pointer;
  width: 229px;
  height: 62px;
  border-radius: 5px;
  background-color: #853cff;
  color: white;
  border: 2px solid #853cff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.history_content {
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 19px;
  padding-bottom: 60px;
  display: grid;
  flex-direction: column;
}

.history_content_menu {
  margin-top: 65px;
  width: 1314px;
  height: 193px;
}

.history_content_menu_info {
  margin-top: 60px;
  position: relative;
  display: flex;
}

.pick_button {
  position: relative;
  margin-left: auto;
}

.history_content_menu_info_button {
  cursor: pointer;
  margin-left: auto;
  width: 210px;
  height: 50px;
  border-radius: 5px;
  background-color: #853cff;
  color: white;
  border: 1px solid #853cff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.hoverable-select:hover {
  background-color: #aa77ff;
  color: white;
  border: 1px solid #aa77ff;
}
.hoverable-select_red:hover {
  background-color: #de7d94;
  border: 1px solid #de7d94;
}
.history_menu_info_header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;

  vertical-align: middle;
}

#history_menu_info {
  position: absolute;
  top: 0;
  left: 0;
}

.history_content_menu_info_guide {
  margin-left: 49px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  vertical-align: middle;
  color: #7d7d7d;
}

.history_content_list::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.history_content_list {
  overflow-y: scroll;
  /* сохраняем скролл */

  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE и Edge */
  margin-top: 65px;
  width: 1318px;
  height: 568px;
  overflow-y: auto;
}

.history_interactive {
  background-color: #f7f7f7;
  border-radius: 26px;
  position: relative;
  width: 100%;
  height: 269px;
  margin-bottom: 30px;
}

/* Убираем нижний отступ у последнего элемента */
.history_content_list > div:last-child .history_interactive {
  margin-bottom: 0;
}

.history_header {
  position: relative;
  height: 90px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  width: 950px;
}

.history_info {
  margin-top: 11px;
  display: grid;
  flex-direction: column;
  margin-left: 49px;
  gap: 29px;
  width: 950px;
  height: 119px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  vertical-align: middle;
  letter-spacing: 1px;
}

.history_date-fon {
  background-color: #853cff;
  border-radius: 68px;
}

.history_date {
  width: 210px;
  color: white;
  text-align: center;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 36px;
}

.history_title {
  margin-left: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 32px;
  vertical-align: middle;
  letter-spacing: 1px;
}

#history_line {
  position: absolute;
  left: 208px;
  top: 70px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
}

.popup {
  margin-top: 360px;
  background: white;
  border-radius: 35px;
  width: 818px;
  height: 438px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  position: relative;
}

.popup-header {
  position: relative;
}

.popup-header-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  padding-top: 48px;
  margin-left: 146px;
}

.popup-close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  font-size: 30px;
  color: #aaa;
}

.popup-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 62px;
}

.popup-option {
  margin-left: 51px;
  display: flex;
  align-items: center;
  font-size: 18px;

  cursor: pointer;
  position: relative;
}

.popup-option span {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  position: relative;
  padding-left: 62px;
}

.popup-option input[type="radio"] {
  display: none;
}

.popup-option input[type="radio"] + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  background-image: url("/public/images/history/circle.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.popup-option input[type="radio"]:checked + span::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  width: 24px;
  height: 18px;
  background-image: url("/public/images/history/Vector_2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.popup-option input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(133, 60, 255, 0.6);
}

.popup-option span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 1px;
  position: relative;
}

.popup-footer {
  margin-top: 44px;
}

.popup-submit {
  margin-left: 292px;
  width: 233px;
  height: 62px;
  background-color: white;
  color: #853cff;
  border: 2px solid #853cff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 1px;
}
.popup-submit:hover {
  margin-left: 292px;
  width: 233px;
  height: 62px;
  background-color: #853cff;
  color: white;
  border: 2px solid #853cff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 1px;
}

.select_many_option {
  cursor: pointer;
  position: absolute;
  top: 94px;
  right: 60px;
}

.selectManyClass {
  width: 185px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #f0436c;
  background-color: #f0436c;
}

.selectManyDownload {
  position: absolute;
  cursor: pointer;
  width: 202px;
  height: 62px;
  border-radius: 5px;
  border: 1px solid #6ab23d;
  background-color: #6ab23d;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  vertical-align: middle;
  letter-spacing: 1px;
  color: white;
  bottom: 80px;
  right: 0px;
}
.selectManyDownload:hover {
  background-color: #9ac57e;
  border: 1px solid #9ac57e;
}

.select_many_option input[type="checkbox"] {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 81px;
  width: 81px;

  border-radius: 50%;

  border: 4px solid #853cff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  cursor: pointer;
  outline: none;
  background-color: #f7f7f7;
  transition: all 0.3s ease;
}
.select_many_option input[type="checkbox"]:hover {
  background-color: #aa77ff;
  border-color: #853cff;
}
.select_many_option input[type="checkbox"]:checked {
  background-color: #853cff;
  box-shadow: 0 0 0 3px #853cff inset;
  background-image: url("/public/images/history/pick.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.select_many_option input[type="checkbox"]:focus + span::before {
  outline: none;
  box-shadow: 0 0 5px rgba(133, 60, 255, 0.6);
}
.popup-option:hover input[type="radio"] + span::before {
  background-image: url("/public/images/history/circle_hover.svg");
}
