@media (min-width:1918px) and (min-height:1078px){

    .history_margins{
    width: 1056px;
        box-sizing: border-box;
    padding: 0;
    margin: 0;
       margin:0 auto 0 auto;
}
.history {
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    ;
    overflow-x: hidden;
}


.history_info {
    display: flex;
    align-items: flex-start;
    margin-top: 61px;
    margin-bottom: 20px;
}

.history_info>img {
    width:24px;
    height: 24px;
}

.history_info>div {

    margin-left: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.16px;
    color: #7D7D7D;
    line-height:26px;
    ;

}




.history_finder_header {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 0.16px;
    vertical-align: middle;
    color: #1D1D1D;
}

.history_finder_finder {
    margin-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
}


.selected_list {
    width: 1054px !important;
    border-radius: 8px;
    border: 1.5px solid #853CFF;
}

.search-input {

    width: 765px;
    height:39px;
    line-height: 39px;
    ;
    color: #1D1D1D !important;
    border:1.5px solid #E0E0E0;
    border-radius: 8px;

    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;

    display: flex;
    align-items: center;padding-left: 50px;
  box-sizing: border-box;
}

.search-input::placeholder {
    line-height: 39px;
    ;
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #A9A9A9; 
}

.input-icon {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);

    width:19px;
    height: 19px;
    pointer-events: none;
}

.history_empty_list_info {
    margin-top: 34px;
    width: 475px;
    display: grid;
    justify-items: center;
    margin-left: 290px;;
}

.history_empty_list_info>img {
    width: 54px;
    height:54px;
}

.history_empty_list_info_h1 {
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    color: #7D7D7D;
}

.history_empty_list_info_h2 {
    margin-top: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Bold;
    font-size:14px;
    letter-spacing: 0.14px;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    color: #7D7D7D;



}

.history_selected_interactives_header {
    margin-bottom: 15px;
}

.history_selected_interactives {

    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 0.16px;
    vertical-align: middle;
    color: #1D1D1D;
    overflow-x: hidden;
    min-height: 162px;

}

.history_list_selected_download {border-radius: 5px;    display: flex;align-items: center;justify-content: center;
    width: 131px;height: 36px;;
    margin-left:923px;
    ;cursor: pointer;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: #6AB23D;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    ;

}
.history_list_selected_download:hover{
    background-color: #6AB23D; color:white
}
.history_selected_interactives_info>img {
    width: 54px;
    height: 54px;
}

.history_selected_interactives_info {
    display: grid;
    justify-items: center;
    width: 300px;
    margin-top:34px;
    margin-left: 378px;

}

.history_selected_interactives_info_h2 {
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    color: #7D7D7D;
    font-weight: 500;
    font-style: Medium;
    font-style: Medium;
   font-size: 16px;
    letter-spacing: 0.16px;
    text-align: center;
    vertical-align: middle;

}

.history_list {
    width: 1056px;
    margin-top: 20px;
    padding-bottom: 100px;
    overflow-x: hidden;
}

.history_list_header {
    display: flex;
    margin-left: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
 font-size: 16px;
    letter-spacing: 0.16px;
    text-align: center;
    vertical-align: middle;
    color: #A9A9A9;
    margin-bottom: 15px;
    overflow-x: hidden;
}

.history_list_header_title {
    width: 89px;;
    text-align: left;
}
.history_list_header_leadername{ 
    width: 96px;;
     margin-left: 197px;
      text-align: center;
}
.history_list_header_date {     margin-left:73px;
    width: 96px;
    text-align: center;
}

.history_list_header_count { margin-left: 49px;
   
    width: 192px;
    text-align: center;
}

.history_list_list {

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#history_list_list{
    height: 36.15px !important; ;
}
.history_list_list_item {
    overflow-x: hidden;
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
     font-size: 16px;
    letter-spacing: 0.16px;
    text-align: center;
    vertical-align: middle;
}
.history_list_list_item_selected{
     overflow-x: hidden;
    display: flex;
    align-items: center;
     height: 46.13px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
     font-size: 16px;
    letter-spacing: 0.16px;
    text-align: center;
    vertical-align: middle;
}
.history_list_list_item_selected>img {
    height: 18px;
    width:14px;
    margin-left: auto;
    margin-right: 22px;
}

.Line {
    background-color: #e9e9e9 !important;
    height:1px !important;
    margin:0 auto;
    width: 1056px !important;
}
.history_list_list_item > div{

      line-height: 19.2px;
}
.history_list_list_item_title, 
.history_list_list_item_leadername {
    position: relative; /* для ::after */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
}
.history_list_list_item_title {margin-left: 22px;;
    margin-top:15px;;
     margin-bottom:15px;;
    width: 253px;;
    text-align: left;

}
.history_list_list_item_leadername {margin-left: 12px;;
  text-align: left;
 margin-top:15px;;
     margin-bottom:15px;;
  width:  137px;;
}
.title-clamp::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 31px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(85.63deg, rgba(255,255,255,0.4) 29.36%, #ffffff 89.3%);
}
.history_list_list_item_leadername.expanded,
.history_list_list_item_title.expanded {
    white-space: normal;      
    word-break: break-word;  
    overflow-wrap: break-word; 
}

.title-clamp.expanded::after {
    display: none; /* только у текущего элемента с expanded */
}


.history_list_list_item_date {
        margin-top:15px;
     margin-bottom:15px;
    margin-left: 24px;
    width: 154px;
    text-align: center;
}

.history_list_list_item_count {
        margin-top:15px;
     margin-bottom:15px;
    margin-left: 82px;
    width: 68px;
    text-align: center;
}

.history_list_list_item_download_one {   
     margin-top:5.13px;
     margin-bottom:5px;
    margin-left: 32px;
    height: 36px;
    width:131px;
    background-color: #6AB23D;
    color: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;  border:1.5px solid #6AB23D;
    border-radius: 5px;font-size: 20px;
    letter-spacing: 0.2px;
}
.history_list_list_item_download_one:hover{
    background-color: #9AC57E;
    border:1.5px solid #6AB23D;
}
.history_list_list_item_download_many:hover{    border-radius: 5px;
    border: 1.5px solid #853CFF;
}
.history_list_list_item_download_many {width: 131px;;    height: 36px;; margin-top:5.13px;
     margin-bottom:5px;
    margin-left:10px;    border: 1.5px solid white;
    color: #853CFF;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
font-size: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: middle;
       display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.history_show_more {
    width: 104px;
white-space: nowrap;
    margin-left: 476px;
    margin-top: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing:0.16px;
    text-align: center;
    vertical-align: middle;
    color: #853CFF;
    cursor: pointer;position: relative;
}

/* Полоска */
.history_show_more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;             /* расстояние от текста */
    width: 100%;
    height: 1.5px;              /* толщина полоски */
    background: #853CFF;transform: scaleX(0); 
}

/* Появляется при наведении */
.history_show_more:hover::after {
    transform: scaleX(1);
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  background: #00000052;
    z-index: 10000999;
    display: flex;
    justify-content: center;
}

.popup {
    background: white;
      border-radius: 18px;
    width: 525px;
    height:233px;
        margin-top:273px !important;
    position: relative;
}


.popup-header-text {
    font-family: "Lato", sans-serif;
    font-weight: 700;
font-size: 20px;
line-height: 32px;
height: 32px;
letter-spacing: 1%;
text-align: center;
margin-top:24px;
display: flex;
align-items: center;
justify-content: center;
}

.popup-close {    width:16px;
    height: 16px;
    position: absolute;
    top: 20px;
    right:  20px;
    cursor: pointer;
    font-size: 30px;
    color: #aaa;
}

.popup-body {margin-top:20px; 
}
.popup-option.second{
margin-top:20px !important; 
}
.popup-option {height: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
font-size: 16px;
    cursor: pointer;
    position: relative;
}
.popup-option img{ width: 20px;
    height: 20px;

}
.popup-option span {margin-left: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    position: relative;

font-size: 16px;
letter-spacing: 0.20px;
vertical-align: middle;

}







.popup-footer {
    margin-top:40px;
    display: flex; margin-left: 203px;;
}
.popup-footer > button{
    width: 138px;;
    height: 41px;;
}
.popup-submit {
margin-left: 10px  !important;
}
.popup-submit {
    background-color: white;
    color: #853cff;
    border: 1.5px solid #853cff;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    border-radius: 8px;;
    cursor: pointer;
    vertical-align: middle;
    font-size: 20px;;
}

.popup-submit:hover {
  background-color: #AA77FF; color: #FFFFFF;
}
.popup-cancel{
     background-color: white;
    color:#7D7D7D;
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    border-radius: 8px;;
    cursor: pointer;
    vertical-align: middle;
    font-size: 20px;;;
}
.popup-cancel:hover {
 border: 1.5px solid #1D1D1D !important; ; color:  #1D1D1D;
}

}