@media (max-width: 1918px), (max-height: 1078px){
.intreractive_editor_header {
  background-color: #853CFF;
  height: calc((71/832)*100dvh);
  width: 100dvw;
  position: relative;
}

#interactive_editor_logo {
  height: calc((50/832)*100dvh);
  width: calc((123/1280)*100dvw);
  position: absolute;
  top: calc((21 / 1664) * 100dvh);
  right: calc((40 / 1280) * 100dvw);
}

.intreractive_editor_header_back_text {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-style: Medium;
  color: white;
  line-height: 120%;
  letter-spacing: 0.2px;
  vertical-align: middle;
  position: absolute;
  bottom: calc((5 / 832) * 100dvh);
  left: calc((38 / 1280) * 100dvw);

  font-size: clamp(10px, calc((20 / 1280) * 100dvw), 34px);
  cursor: pointer;

}

#interactive_editor_back {
 
  width: calc((10 / 1280) * 100dvw);
  position: absolute;
  bottom: calc((8 / 832) * 100dvh);
  left: calc((23 / 1280) * 100dvw);
  cursor: pointer;
}
.interactive_edit_popup-overlay_goback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background: #00000052;
  display: flex;
  justify-content: center;

  z-index: 1000;
}

.interactive_edit_popup-content_goback {margin-top:calc((290/832)*100dvh);
  background-color: white;
  border-radius: 10px;
  width: calc((524 / 1280) * 100dvw) !important;

  height: calc((173 / 832) * 100dvh);
  font-family: "Lato", sans-serif;
  
}

.interactive_edit_popup-text_goback {
  font-size: clamp(12px, calc((20 / 1280) * 100dvw), 40px);
  letter-spacing: clamp(0.12px, calc((20/100 / 1280) * 100dvw), 0.40px);;
  margin-top: calc((29 / 1159) * 100dvh);
  margin-left:calc((20 / 1280) * 100dvw); ;
  line-height: clamp(12px, calc((32 / 1280) * 100dvw), 64px);;
  font-family: "Lato", sans-serif;
font-weight: 700;
font-style: Bold;

}

.interactive_edit_popup-actions_goback { display: flex; margin-left:calc((218 / 1280) * 100dvw); ; width: calc((286 / 1280) * 100dvw);
  height: calc((41 / 832) * 100dvh) !important;margin-top:calc((20/832)*100dvh);
}

.interactive_edit_popup-btn_goback {
   font-size: clamp(12px, calc((20 / 1280) * 100dvw), 40px);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: calc((138 / 1280) * 100dvw);
  
  height: calc((41 / 832) * 100dvh);
}

.interactive_edit_popup-btn_goback.save {
  background-color: #6ab23d;margin-left:calc((10 / 1280) * 100dvw);
  border: calc((1.5/832)*100dvh) solid #6ab23d;
  color: white;
}

.interactive_edit_popup-btn_goback.save:hover {
   background-color: #559130;
  border: calc((1.5/832)*100dvh) solid #559130;
}

.interactive_edit_popup-btn_goback.cancel {
  background-color: #FFFFFF;
  border: calc((1.5/832)*100dvh) solid #853CFF;
  color: #853CFF;
}

.interactive_edit_popup-btn_goback.cancel:hover {color: #FFFFFF;
  background-color: #AA77FF;
}

.interactive_edit_popup-btn_goback.cancel.delete {
  background-color: #FFFFFF;
  border:none;
  color: #7D7D7D;
}

.interactive_edit_popup-btn_goback.cancel.delete:hover {color:#1D1D1D;
  border: calc((1.5/832)*100dvh) solid#1D1D1D;
}
.interactive_edit_popup-btn_goback.confirm.delete {
  background-color:white;
  border: calc((1.5/832)*100dvh) #F0436C;
  color: #F0436C;
}

.interactive_edit_popup-btn_goback.confirm.delete:hover {
   background-color: #F0436C; color: white;
  border: calc((1.5/832)*100dvh) solid#F0436C;
}


}

@media (min-width: 1919px) and (min-height: 1079px){
.interactive_edit_popup-overlay_goback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background: #00000052;
  display: flex;
  justify-content: center;

  z-index: 1000;
}

.interactive_edit_popup-content_goback {margin-top:290px;
  background-color: white;
  border-radius: 10px;
  width: 524px!important;

  height: 173px;
  font-family: "Lato", sans-serif;
  
}

.interactive_edit_popup-text_goback {
  font-size: 20px;
  letter-spacing: 0.20px;;
  margin-top: 29px;
  margin-left:20px ;
  line-height: 32px;;
  font-family: "Lato", sans-serif;
font-weight: 700;
font-style: Bold;

}

.interactive_edit_popup-actions_goback {  display: flex; margin-left:218px ; width: 286px;
  height: 41px !important;margin-top:20px;
}

.interactive_edit_popup-btn_goback {
   font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width:138px;
  
  height: 41px;
}

.interactive_edit_popup-btn_goback.save {
  background-color: #6ab23d;margin-left:10px;
  color: white;
}

.interactive_edit_popup-btn_goback.save:hover {
   background-color: #559130;
  border: 1.5px solid #559130;
}

.interactive_edit_popup-btn_goback.cancel {
  background-color: #FFFFFF;
  border: 1.5px solid #853CFF;
  color: #853CFF;
}

.interactive_edit_popup-btn_goback.cancel:hover {color: #FFFFFF;
  background-color: #AA77FF;
}

.interactive_edit_popup-btn_goback.cancel.delete {
  background-color: #FFFFFF;
  border:none;
  color: #7D7D7D;
}

.interactive_edit_popup-btn_goback.cancel.delete:hover {color:#1D1D1D;
  border: 1.5px solid#1D1D1D;
}
.interactive_edit_popup-btn_goback.confirm.delete {
  background-color:white;
  border: 1.5px #F0436C;
  color: #F0436C;
}

.interactive_edit_popup-btn_goback.confirm.delete:hover {
   background-color: #F0436C; color: white;
  border: 1.5px solid#F0436C;
}
}
