
@media (min-height: 901px){
  .check_question_answer{
    height: clamp(5px, calc((60/834)*100dvh), 30px);
    padding-left: clamp(10px, calc((30 / 1280) * 100dvw), 50px) !important;
    padding-top: clamp(5px, calc((20 / 1280) * 100dvw), 25px)!important;
    padding-bottom: clamp(5px, calc((20 / 1280) * 100dvw), 25px)!important;
    padding-right: clamp(10px, calc((30 / 1280) * 100dvw), 50px)!important;
  }
  .check_question_list{
    gap:10px !important;
  }
  
}
@media (max-height: 901px){
  
  .check_question_list{
    gap:10px !important;
  }
  
}

@media (max-height: 864px){
  .check_question_answer{
    height: clamp(5px, calc((60/834)*100dvh), 30px);
    padding-left: clamp(10px, calc((30 / 1280) * 100dvw), 50px) !important;
    padding-top: clamp(5px, calc((17 / 1280) * 100dvw), 25px)!important;
    padding-bottom: clamp(5px, calc((17 / 1280) * 100dvw), 25px)!important;
    padding-right: clamp(10px, calc((30 / 1280) * 100dvw), 50px)!important;
  }
  .check_question_list{
    gap:10px !important;
  }
}
@media (max-height: 766px){
  .check_question_answer{
    height: clamp(5px, calc((60/834)*100dvh), 30px);
    padding-left: clamp(10px, calc((30 / 1280) * 100dvw), 50px) !important;
    padding-top: clamp(5px, calc((12 / 1280) * 100dvw), 15px)!important;
    padding-bottom: clamp(5px, calc((12 / 1280) * 100dvw), 15px)!important;
    padding-right: clamp(10px, calc((30 / 1280) * 100dvw), 50px)!important;
  }
  .check_question_list{
    gap:10px !important;
  }
}

@media (max-width: 1366px) and (max-height: 768px){
  .check_question_answer{
    height: clamp(5px, calc((60/834)*100dvh), 30px);
    padding-left: clamp(10px, calc((30 / 1280) * 100dvw), 50px) !important;
    padding-top: clamp(5px, calc((15 / 1280) * 100dvw), 15px)!important;
    padding-bottom: clamp(5px, calc((15 / 1280) * 100dvw), 15px)!important;
    padding-right: clamp(10px, calc((30 / 1280) * 100dvw), 50px)!important;
  }
  .check_question_list{
    gap:10px !important;
  }
}
@media (max-width: 1920px) and (max-height: 901px){
  .check_question_answer{
    height: clamp(5px, calc((60/834)*100dvh), 30px);
    padding-left: clamp(10px, calc((30 / 1280) * 100dvw), 50px) !important;
    padding-top: clamp(5px, calc((15 / 1280) * 100dvw), 20px)!important;
    padding-bottom: clamp(5px, calc((15 / 1280) * 100dvw), 20px)!important;
    padding-right: clamp(10px, calc((30 / 1280) * 100dvw), 50px)!important;
  }
  .check_question_list{
    gap:10px !important;
  }
}
.check_question {
  height: 100%;
  background-color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: clamp(calc(10px /100), calc((14 / 1280 / 100) * 100dvw), calc(24px / 100));
  position: relative;
}


.check_question_question-list {
  margin-left: 22px !important;
  margin-right: 22px !important;
  position: relative;
}

.check_question_timer {

  background-color: #853cff;

  position: relative;
  margin: 0 auto;
  margin-left: 22px;
  margin-right: 22px;
  height: 11%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;

}

.check_question_logo>img {

  margin-left: 4%;
  width: 16%;
  padding-top: 3%;
}

.check_question_timer-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(10px, calc((14 / 1280) * 100dvw), 24px);
  color: white;
  letter-spacing: 0.14px;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.5%;
}

.check_question_green-line {
  height: 7px;
  background-color: white;
  margin: 0 auto;
  border-radius: 26px;
  width: 90%;

  margin-top: 2%;

}
.question-image{
}

.check_no-transition {
  transition: none !important;
}


.check_question_question-list {
  margin-left: 22px;
  margin-right: 22px;
  height: 100%;

}

.check_question_number {white-space: nowrap;
  margin-top: 4%;
  position: absolute;
  width: 35%;
  height: 5%;

  background-image: url("/images/question/Vector_80.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}



/* Иконка */
.check_question_icon {
  position: absolute;
  top: -15%;
  right: -30%;

  width: 82%;
  height: 72%;
  z-index: 2;
}


.question-background {
  width: 100%;
  height: auto;
  display: block;
}


.check_question_question-num-text {white-space: nowrap;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: clamp(10px, calc((14 / 1280) * 100dvw), 24px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
}

.check_question_title {
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  padding-top: 17%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(10px, calc((14 / 1280) * 100dvw), 24px);
  letter-spacing: 0.14px;
  width: 90%;
  margin-left: 0;
  /* ← изменено */

}

.check_question_title_score {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(10px, calc((14 / 1280) * 100dvw), 24px);
  line-height: 120%;

  color: #A9A9A9;
  margin-top: 3%;
}

.check_question_list {
  display: flex;
  flex-direction: column;
  .check_question_list{
    gap:10px !important;
  }

  margin-top: 3%;
}

.check_question_answer {
  background-color: #f7f7f7;
  border-radius: calc((8/834)*100dvh);
  height: clamp(5px, calc((20/834)*100dvh), 90px) !important;


  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  color: #1d1d1d;
  white-space: pre-wrap;

  word-break: break-word;
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: "Lato", sans-serif;
  font-size: clamp(10px, calc((14 / 1280) * 100dvw), 24px);
  box-sizing: border-box;
  padding-left: clamp(10px, calc((30 / 1280) * 100dvw), 50px) ;
    padding-top: clamp(5px, calc((17 / 1280) * 100dvw), 25px);
    padding-bottom: clamp(5px, calc((17 / 1280) * 100dvw), 25px) ;
    padding-right: clamp(10px, calc((30 / 1280) * 100dvw), 50px) ;
}

