.question_leader {
  width: 100dvw;
  height: 100dvh;
}
.question_leader_logo{
  width: 100dvw;
  height: calc((71 / 832) * 100dvh);
  background-color: #853CFF;
  display: flex;
  align-items: center;
}
.question_leader_content{
  width: calc((1138
   / 1280) * 100dvw);
  height: calc((695 / 832) * 100dvh);
margin-left: calc((59 / 1280) * 100dvw);;
margin-top: calc((8 / 832) * 100dvh);;
}
#logo_2 {
 width: calc((123 / 1280) * 100dvw);
  height: calc((50 / 832) * 100dvh);
  margin-left: auto;
  margin-right: calc((40 / 1280) * 100dvw);;
}

.question_leader_top-bar {
  display: flex;
  align-items: center;


  margin: 0 auto;
}

.question_leader_timer {
 background-color: #6ab23d;
 display: flex;
}



.question_leader_popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.question_leader_popup-content {
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  width: 600px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.question_leader_popup-text {
  font-size: 24px;
  margin-bottom: 24px;
}

.question_leader_popup-actions {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.question_leader_popup-btn {
  padding: 12px 32px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.question_leader_popup-btn.save {
  background-color: #6ab23d;
  color: white;
}

.question_leader_popup-btn.cancel {
  background-color: #f0436c;
  color: white;
}

.question_leader_popup-btn:hover {
  opacity: 0.9;
}


.question_leader_top {
  display: flex;
  height: calc((79 / 252) * ((252 / 1280) * 100dvw));
  display: flex;
  align-items: center;
}

.question_leader_top_question_num {
  position: relative;
  background-image: url("/public/images/question/Group 7096.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  width: calc((252 / 1280) * 100dvw);
  height: calc((79 / 252) * ((252 / 1280) * 100dvw));
  /* пропорциональная высота */
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(10px, calc((36 / 1280) * 100dvw), 72px);
  letter-spacing: clamp(0.1px, calc((36 / 100 / 1280) * 100dvw), 0.72px);
}

.question_leader_top_question_num>div {
  margin-left: calc((12 / 1280) * 100dvw);
  font-family: "Lato", sans-serif;
}

.question_leader_top_timer {
  display: grid;
  align-items: center;
  margin-left: calc((102 / 1280) * 100dvw);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(10px, calc((32 / 1280) * 100dvw), 64px);
  letter-spacing: clamp(0.1px, calc((32 / 100 / 1280) * 100dvw), 0.64px);
  text-align: center;
  vertical-align: middle;
  min-width: calc((454 / 1280) * 100dvw);
  height: calc((47 / 832) * 100dvh);
}

.question_grey-line {
  width: calc((318 / 1280) * 100dvw);
  height: calc((7 / 832) * 100dvh);
  background-color: #E9E9E9;
  border-radius: 26px;
  margin: calc((4 / 832) * 100dvh) auto;
}

.question_green-line {
  width: calc((318 / 1280) * 100dvw);
  height: calc((7 / 832) * 100dvh);
  background-color: #6ab23d;
  border-radius: 26px;
  transition: width 1s linear;
}

.question_title {  white-space: pre-wrap; word-break: break-word;
  width: 100%;
  padding-left: calc((12 / 1280) * 100dvw);
  font-size: clamp(10px, calc((36 / 1280) * 100dvw), 72px);
  letter-spacing: clamp(0.1px, calc((36 / 100 / 1280) * 100dvw), 0.72px);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-top: calc((29 / 832) * 100dvh);
  line-height: clamp(10px, calc((40 / 1280) * 100dvw),80px);
  ;
}

.question_leader_answers_image {
  display: grid;
  grid-template-columns: calc(649 / 1280 * 100dvw) calc(473 / 1280 * 100dvw);
  width: calc((1156 / 1280) *100dvw);
}



.question_leader_image {
  height: calc((504 / 832) * 100dvh);
  width: calc((473/1280) * 100dvw);
  position: relative;
  margin-left: calc((28/1280) * 100dvw);
}

.question_leader_image_image {
  width: calc((473/1280) * 100dvw);
  max-height: calc((266 / 832) * 100dvh);
  background-color: #E0E0E0;
   aspect-ratio: 16 / 9;

}

.question_leader_winners {
  position: absolute;
  width: calc((473/1280) * 100dvw);
  height: calc((154 / 832) * 100dvh);
  border-radius: calc((8 / 832) * 100dvh);
  border: calc((2 / 832) * 100dvh) solid #E0E0E0;
  margin-top: calc((18 / 832) * 100dvh);
 
}

.question_leader_winners_header {
  margin-left: calc((20 / 1280) * 100dvw);
  margin-top: calc((10 / 832) * 100dvh);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: Medium;
  vertical-align: middle;
  height: calc((24/832) * 100dvh);
  font-size: clamp(10px, calc((20 / 1280) * 100dvw), 40px);
  letter-spacing: clamp(0.1px, calc((20 / 100 / 1280) * 100dvw), 0.4px);
   display: flex;
   width: calc((433/1280) * 100dvw);

}
.winners_table_score{
  margin-left: auto;
}
.question_leader_winners_header_line {
  height: calc((1/832) * 100dvh);
  width: calc((433/1280) * 100dvw);
  margin: 0 auto;
  margin-top: calc((5 / 832) * 100dvh);
  background-color: #E0E0E0;
}

.question_leader_winners_list {
  width: calc((433/1280) * 100dvw);
  margin: 0 auto;
  height: calc((83/832) * 100dvh);
  margin-top: calc((15 / 832) * 100dvh);
}

.question_leader_winners_list_item {
  font-size: clamp(10px, calc((20 / 1280) * 100dvw), 40px);
  letter-spacing: clamp(0.10px, calc((20 / 100/ 1280) * 100dvw), 0.40px);
}

.question_leader_winners_list>div {

  display: flex;
  align-items: center;
  height: calc((15/832) * 100dvh);
  margin-bottom: calc((18/832)*100dvh);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  vertical-align: middle;
  font-size: clamp(10px, calc((20 / 1280) * 100dvw), 40px);
  letter-spacing: clamp(0.10px, calc((20 / 100/ 1280) * 100dvw), 0.40px);
}

.no_image {
  margin-top: calc((78/832)*100dvh);
}