.question_question-list {
  margin-left: 67px;
  ;
  padding-top: 27px;
  width: 1184px;
  font-family: 'Lato', sans-serif;
  
}

.question_number {

  position: relative;
  width: 233px;
  ;
  height: 73px;
  ;
  background-image: url("/images/question/Vector_80_leader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}



.question_question-num-text {
  font-weight: 500;
  font-size: 32px;
  font-family: 'Lato', sans-serif;
}

.question_title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 32px;
  
  white-space: pre-wrap;      /* сохраняет переводы строк и переносит при необходимости */
  word-break: break-word; 
}

.question_list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 16px;
}

.question_answer {
  background-color: #f7f7f7;

  height: 100px;
  font-size: 32px;
  font-weight: 500;
  border-radius: 5px;
  ;
  border: 3.5px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  color: #1d1d1d;
  padding-left: 35px;
}





.question_answer.correct {
  background-color: #6ab23d;
  color: white;
}

.question_answer.correctOutline {
  border: 3.5px solid #6ab23d;
  color: #1d1d1d;
  background-color: #f7f7f7;
}

.question_answer.incorrect {
  border: 3.5px solid #f0436c;
  background-color: #f0436c;
  color: white;
}

.question_answer.wrongOutline {
  border: 3.5px solid #f0436c;
  background-color: #f7f7f7;
  color: #1d1d1d;
}

.question_percent {
  font-size: 24px;
  color: #333;
  font-size: 500;

  padding-right: 13px;
}

.question_percent.white {
  color: white;
}

.question_accepted-banner {
  margin-top: 24px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question_accepted-banner.default {
  background-color: #853cff;
  color: white;
}

.question_accepted-banner.hidden {
  display: none
}

.question_accepted-banner.success {
  background-color: #6ab23d;
  color: white;
}

.question_check-icon {
  margin-right: 8px;
  font-size: 18px;
}