.question {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#question_star_2 {
  position: absolute;
  top: 180px;
  right: 0;
  transform: translate(0, -50%);
  z-index: 0;
}
#question_vector_2 {
  position: absolute;
  top: 435px;
  left: 0;
  transform: translate(0, -50%);
  z-index: 0;
}
