.question_leader_buttons_fon {
  width: calc((450 / 1280) * 100dvw);
  height: calc((44 / 832) * 100dvh);
  margin-left: auto;
  margin-top: calc((194/832) * 100dvh);
}
.no_image_buttons{
  margin-top: calc((460/832) * 100dvh);
}
.question_leader_buttons{
    display: flex;
    font-family: "Lato", sans-serif;
font-weight: 500;
font-style: Medium;
text-align: center;
vertical-align: middle;


    
}

.goto_end{
    width: calc((215 / 1280) * 100dvw);
  height: calc((44 / 832) * 100dvh);
  font-size: clamp(10px, calc((32 / 1280) * 100dvw), 64px);
  letter-spacing: clamp(0.1px, calc((32 / 100 / 1280) * 100dvw), 0.64px);
  background-color: white;
  border-radius: calc((5/832) * 100dvh);
  border: calc((2 / 832) * 100dvh) solid #853CFF;
  color: #853CFF;
  display: flex;
  align-items: center;
  justify-content: center;
}



.goto_end:hover{
  background-color: #853CFF;
  color: white;
}
.pause{
   width: calc((215 / 1280) * 100dvw);font-size: clamp(10px, calc((32 / 1280) * 100dvw), 64px);
  letter-spacing: clamp(0.1px, calc((32 / 100 / 1280) * 100dvw), 0.64px);
  height: calc((44 / 832) * 100dvh);
  margin-left: calc((20 / 1280) * 100dvw);
  border-radius: calc((5/832) * 100dvh);
  border: calc((2 / 832) * 100dvh) solid #853CFF;
  background-color:  #853CFF;;  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pause:hover, .continue:hover{
  background-color: #AA77FF;
}
.continue{
   width: calc((215 / 1280) * 100dvw);font-size: clamp(10px, calc((32 / 1280) * 100dvw), 64px);
  letter-spacing: clamp(0.1px, calc((32 / 100 / 1280) * 100dvw), 0.64px);
  height: calc((44 / 832) * 100dvh);background-color:  #853CFF;;
  margin-left: calc((20 / 1280) * 100dvw);
  border-radius: calc((5/832) * 100dvh);
  border: calc((2 / 832) * 100dvh) solid #853CFF;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}