:root {
  --app-height: 100vh;
}


.question_question-list {
  margin-left: calc((22 / 390) * 100dvw);
  margin-right: calc((22 / 390) * 100dvw);
  position: relative;
}

.question_number {
    margin-top: calc((11 / 844) * var(--app-height));
      width: calc((119 / 390) * 100dvw);;
  position: relative;
  background-image: url("/images/question/Vector_80.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  height: calc((41 / 119) * ((119 / 380) * 100dvw));

  /* 👇 Добавь это */
  left: calc((-7 / 390) * 100dvw);;               /* смещаем сам блок влево */
  overflow: visible; 


}

.question_icon {
  position: absolute;
  top:-20%;
  right: 0;

}

.question_question-num-text {
      font-family: "Lato", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: clamp(10px, calc((16 / 390) * 100dvw),32px);
letter-spacing:  clamp(0.10px, calc((16 / 100 / 390) * 100dvw),0.32px);
  margin-left: calc((7 / 390) * 100dvw);;   
}

.question_title {margin-top: calc((13 / 844) * var(--app-height));
  max-width: calc((346 / 390) * 100dvw);;
  
  white-space: pre-wrap;
    
  word-break: break-word;
      font-family: "Lato", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: clamp(10px, calc((16 / 390) * 100dvw),32px);
letter-spacing:  clamp(0.10px, calc((16 / 100 / 390) * 100dvw),0.32px);
line-height: clamp(10px, calc((24  / 390) * 100dvw),48px);


}

.question_list {
  display: flex;
  flex-direction: column;
  gap: calc((19 / 844) * var(--app-height));
  margin-top: calc((10 / 844) * var(--app-height));
}

.question_answer {
   height: calc((45 / 844) * var(--app-height));
  width: calc((346 / 390) * 100dvw);;
  border-radius: calc((8 / 844) * var(--app-height));;
  background-color: #f7f7f7;
  cursor: pointer;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  color: #1d1d1d;
  white-space: nowrap;

  
}

.question_text {
  font-family: "Lato", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: clamp(10px, calc((16 / 390) * 100dvw),32px);
letter-spacing:  clamp(0.10px, calc((16 / 100 / 390) * 100dvw),0.32px);
line-height: clamp(10px, calc((24  / 390) * 100dvw),48px);
vertical-align: middle;
white-space: nowrap;

  
  margin-left: calc((10 / 390) * 100dvw);;;
}

.question_answer.selected {
  background-color: #853cff;
  color: white;
}

.question_answer.correct {
  background-color: #6ab23d;
  color: white;
}

.question_answer.correctOutline {
  border: calc((2 / 844) *var(--app-height) ) solid #6ab23d;
  color: #1d1d1d;
  background-color: #f7f7f7;
}

.question_answer.incorrect {
  border:calc((2 / 844) *var(--app-height) ) solid #f0436c;
  background-color: #f0436c;
  color: white;
}

.question_answer.wrongOutline {
  border:calc((2 / 844) *var(--app-height) ) solid #f0436c;
  background-color: #f7f7f7;
  color: #1d1d1d;
}

.question_percent {
  font-size: clamp(10px, calc((16 / 390) * 100dvw),32px);
letter-spacing:  clamp(0.10px, calc((16 / 100 / 390) * 100dvw),0.32px);
  color: #333;
  padding-right:  calc((10 / 390) * 100dvw);;
}

.question_percent.white {
  color: white;
}

.question_accepted-banner {
    margin-top: calc((19 / 844) * var(--app-height));
   height: calc((45 / 844) * var(--app-height));
  width: calc((346 / 390) * 100dvw);;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: calc((8 / 844) * var(--app-height));;
  background-color: #f7f7f7;
  cursor: pointer;
  border: 2px solid transparent;

  font-size: clamp(10px, calc((16 / 390) * 100dvw),32px);
letter-spacing:  clamp(0.10px, calc((16 / 100 / 390) * 100dvw),0.32px);
line-height: clamp(10px, calc((24  / 390) * 100dvw),48px);
}

.question_accepted-banner.default {
  background-color: #853cff;
  color: white;
}

.question_accepted-banner.hidden {
  display: none;
}

.question_accepted-banner.success {
  background-color: #6ab23d;
  color: white;
}

.question_check-icon {
  margin-right: 8px;
  font-size: 18px;
}
