.question_question-list {
  width: calc((1130 / 1280) * 100dvw);
  font-family: "Lato", sans-serif;

  padding-top: calc((15 / 832) * 100dvh);
}

.question_question_type {
  padding-left: calc((12 / 1280) * 100dvw);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(10px, calc((36 / 1280) * 100dvw), 72px);
  letter-spacing: clamp(0.1px, calc((36 / 100 / 1280) * 100dvw), 0.72px);
  color: #a9a9a9;
  height: calc((43 / 832) * 100dvh);
  height: calc((43 / 832) * 100dvh);
}
.question_question_weight {
  padding-left: calc((12 / 1280) * 100dvw);

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(10px, calc((32 / 1280) * 100dvw), 64px);
  letter-spacing: clamp(0.1px, calc((32 / 100 / 1280) * 100dvw), 0.64px);
  color: #a9a9a9;
  height: calc((37 / 832) * 100dvh);
  margin-top: calc((4 / 832) * 100dvh);
}
.question_number {
  position: relative;
  width: 233px;
  height: 73px;
  background-image: url("/images/question/Vector_80_leader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question_question-num-text {
  font-weight: 500;
  font-size: 32px;
  font-family: "Lato", sans-serif;
}

.question_list {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* растягивает дочерние элементы по одинаковой ширине */
  width: fit-content;
  width: calc((657 / 1280) * 100dvw);
  gap: calc((20 / 832) * 100dvh);
  margin-top: calc((15 / 832) * 100dvh);
}

.question_answer {
  background-color: #f7f7f7;
 
  width: calc((649 / 1280) * 100dvw);
  height: calc((58 / 832) * 100dvh);
  border-radius: calc((8 / 832) * 100dvh);
  border: calc((2 / 832) * 100dvh) solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  color: #1d1d1d;
  padding-left: calc((12 / 1280) * 100dvw);
  background-color: white;
  padding-right: calc((12 / 1280) * 100dvw);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(10px, calc((32 / 1280) * 100dvw), 64px);
  letter-spacing: clamp(0.1px, calc((32 / 100 / 1280) * 100dvw), 0.64px);
  vertical-align: middle;
  box-shadow: 0px calc((1 / 832) * 100dvh) calc((10 / 832) * 100dvh) 0px
    rgba(0, 0, 0, 0.35);
}

.question_answer.correct {
  background-color: #6ab23d;
  color: white;
  border-radius: calc((8 / 832) * 100dvh);
  border: calc((2 / 832) * 100dvh) solid #6ab23d;
}

.question_answer.correctOutline {
  border: 3.5px solid #6ab23d;
  color: #1d1d1d;
  background-color: #f7f7f7;
}

.question_answer.incorrect {
  border: 3.5px solid #f0436c;
  background-color: #f0436c;
  color: white;
}

.question_answer.wrongOutline {
  background-color: #f7f7f7;
  color: #1d1d1d;
   border-radius: calc((8 / 832) * 100dvh);
  border: calc((2 / 832) * 100dvh) solid #f0436c;
}

.question_percent {
  color: #333;
  font-size: 500;


  font-family: "Lato", sans-serif;
font-weight: 500;
font-style: Medium;
  font-size: clamp(10px, calc((24 / 1280) * 100dvw), 48px);
  letter-spacing: clamp(0.1px, calc((24 / 100 / 1280) * 100dvw), 0.48px);
 padding-right: calc((5 / 1280) * 100dvw);
}

.question_percent_white {
  color: white;
}

.question_accepted-banner {
  margin-top: 24px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question_accepted-banner.default {
  background-color: #853cff;
  color: white;
}

.question_accepted-banner.hidden {
  display: none;
}

.question_accepted-banner.success {
  background-color: #6ab23d;
  color: white;
}

.question_check-icon {
  margin-right: 8px;
  font-size: 18px;
}

#question_mun_star {
  position: absolute;
  bottom: 45px;
  right: 11px;
}


.text_answer{
  background-color: #C6E2B5;
  border:calc((2 /832) * 100dvh) solid #6AB23D61;
}