.question_timer-text-wrapper {
  background-image: url("/images/question/Ellipse_45.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 97px;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question_timer-text {
  font-weight: 700;
  font-size: 64px;
  color: white;
  text-align: center;
}
