@media (min-width:1918px) and (min-height:1078px){
    .broadcasts_popup_status_text{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .margins{
        margin-bottom: 0px !important;;
    }
    .broadcasts_popup-footer_sending, .broadcasts_popup-footer_success, .broadcasts_popup-footer_error {font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 16px;
    letter-spacing: 0.16px;
        width: 484px;
           line-height: 19.2px;
    }
    .broadcasts_popup-footer_sending {    margin-top: 10px; height: 19px;; margin-bottom:50px ;
 display: flex; 
      align-items: center;justify-content: center;margin-left: 20px;;
    }
    .broadcasts_popup-footer_success{  margin-top: 15px;height: 39px;;margin-bottom:25px !important;; display: grid; 
     justify-content: center;margin-left:20px;}
        .broadcasts_popup-footer_error{ margin-top:10px;height: 44px;margin-bottom: 25px !important;; display: grid; 
   justify-content: center;margin-left: 20px;}
    .broadcasts_popup-footer_sending > div{
        color: #853CFF;
    }
    .broadcasts_popup-footer_success > div{
        color: #6AB23D;
    }
    .broadcasts_popup-footer_error > div{
        color: #F0436C;
    }
    .broadcasts_popup-footer_success > img{ margin: 0 auto;;
          width: 20px;
    height: 25px;;
    }
    .broadcasts_popup-footer_error > img{margin: 0 auto;;
          width: 27px;;
    height: 25px;;
    }
    .broadcasts {
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    ;
    overflow-x: hidden;
    background-color: white;
}

.broadcasts_margins{
    width: 1056px;
        box-sizing: border-box;
    padding: 0;
    margin: 0;
       margin:0 auto 0 auto;
}

.broadcasts_input {
    width: 483px;
    margin-top: 61px;
}

.broadcasts_input label {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    vertical-align: middle;

}

.broadcasts_input textarea::placeholder {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    width: 483px;
    height: 97px;

    vertical-align: middle;

}

.broadcasts_input textarea {
    font-size: 16px;
    width: 483px;
    height: 97px;
    box-sizing: border-box;
    padding: 12px 12px;
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #1d1d1d;

    resize: none;
    /* Убираем лишнее */
    border: none;
    outline: none;
    border-radius: 8px;
    ;
    border: 1.5px solid #E0E0E0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    vertical-align: middle;

    /* IE и Edge */
}


.broadcasts_custom-file-upload {
    width: 483px;
    height: 42px;
    padding: 12px 12px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    border: 1.5px solid #E0E0E0;
    border-radius: 8px;
    background-color: white;
    color: #1D1D1D;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}





.broadcasts_file-status {
    margin-top: 5px;
    font-family: "Lato", sans-serif;
    font-size:16px;
    color: #7D7D7D;
}

.broadcasts_file-uploaded {
    border-color: #6AB23D !important;
    /* Зелёный */
    color: #1D1D1D;
    color: #6AB23D;
    margin-bottom: 15px;
}

.broadcasts_remove-icon {
    width: 14px;
    height: 18px;
    margin-left: auto;
    cursor: pointer;
}


.broadcasts_finder {
}



.broadcasts_finder_header {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 0.16px;
    vertical-align: middle;
    color: #1D1D1D;
}

.broadcasts_finder_finder {
    margin-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
}


.broadcasts_selected_list {
    width: 1056px !important;
    border-radius: 8px;
    border: 1.5px solid #853CFF;
}

.broadcasts_search-input {

    width: 765px;
    height: 39px;
    line-height: 39px;
    ;
    color: #1D1D1D !important;
    border: 1.5px solid #E0E0E0;
    border-radius:8px;

    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;

    display: flex;
    align-items: center;
    padding-left: 50px;; box-sizing: border-box;
}

.broadcasts_search-input::placeholder {
    line-height: 34px;
    ;
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size:16px;
    color: #A9A9A9;
}

.broadcasts_input-icon {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);

    width: 19px;
    height: 19px;
    pointer-events: none;
}

.broadcasts_empty_list_info {
    margin-top: 34px;
    margin-left: 290px;
    width: 475px;
    display: grid;
    justify-items: center;
}

.broadcasts_empty_list_info>img {
    width: 54px;
    height: 54px;
}

.broadcasts_empty_list_info_h1 {
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    color: #7D7D7D;
}

.broadcasts_empty_list_info_h2 {
    margin-top: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Bold;
    font-size: 14px;;
    letter-spacing: 0.14px;;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    color: #7D7D7D;



}

.broadcasts_selected_interactives_info>img {
    width: 54px;
    height: 54px;;
}

.broadcasts_selected_interactives_info {
    display: grid;
    justify-items: center;
    margin-left: 378px;;
    width: 300px;
    margin-top: 34px;
}

.broadcasts_selected_interactives_info_h2 {
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    color: #7D7D7D;
    font-weight: 500;
    font-style: Medium;
    font-style: Medium;
    font-size: 16px;
    letter-spacing:0.16px;
    text-align: center;
    vertical-align: middle;

}
.broadcasts_selected_interactives_header{
    width: 1056px !important;
}
.broadcasts_selected_interactives_header>div {
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing:0.16px;
    vertical-align: middle;
    color: #1D1D1D;
    overflow-x: hidden;
}

.broadcasts_selected_interactives {

    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 0.16px;;
    vertical-align: middle;
    color: #1D1D1D;
    overflow-x: hidden;
    min-height: 162px;
}

.broadcasts_list {
    width: 1056px;
    margin-top: 20px;;
    padding-bottom: 100px;;
    overflow-x: hidden;
}

.broadcasts_list_header {
    display: flex;
    margin-left: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;;
    letter-spacing: 0.16px;
    text-align: center;
    vertical-align: middle;
    color: #A9A9A9;
    margin-bottom: 15px;
    overflow-x: hidden;
}

.broadcasts_list_header_title {
    width: 89px;
    text-align: left;
}

.broadcasts_list_header_date {
    margin-left:356px;
    width: 96px;
    text-align: center;
}

.broadcasts_list_header_count {
    margin-left: 59px;
    width: 192px;
    text-align: center;

}

.broadcasts_list_list {

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.broadcasts_list_list_item {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    height: 46.13px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing:0.16px;
    text-align: center;
    vertical-align: middle;
}

.broadcasts_list_list_item>img {
    height: 18px;
    width: 14px;
    margin-left: auto;
    margin-right: 22px;
}

.broadcasts_Line {
    background-color: #e9e9e9 !important;
    height: 1px !important;
}

.broadcasts_list_list_item_title {
    margin-left:22px;
    width: 400px;
    text-align: left;
}

.broadcasts_list_list_item_date {
    margin-left: 16px;
    width: 154px;
    text-align: center;
}

.broadcasts_list_list_item_count {
    margin-left:92px;
    width: 68px;
    text-align: center;
}



.broadcasts_list_list_item_download_many {width: 131px;;height: 36px;
    margin-left: 201px;
    color: #853CFF;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;;
    letter-spacing: 0.2px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
     display: flex;
    align-items: center;    border: 1.5px solid white;
    justify-content: center;

}
.broadcasts_list_list_item_download_many:hover{border-radius: 5px;;
    border: 1.5px solid #853CFF;
}
#selected_list{width: 1056px !important;
}

#selected_list > div{
    height: 36.15px !important;
}
.broadcasts_show_more {
    width: 104px;
white-space: nowrap;
    margin-left: 476px;
    margin-top: 15px;;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing: 0.16px;
    text-align: center;
    vertical-align: middle;
    color: #853CFF;
    cursor: pointer;position: relative;
}
/* Полоска */
.broadcasts_show_more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;             /* расстояние от текста */
    width: 100%;
    height: 1.5px;              /* толщина полоски */
    background: #853CFF;transform: scaleX(0); 
}

/* Появляется при наведении */
.broadcasts_show_more:hover::after {
    transform: scaleX(1);
}
.broadcasts_list_selected_download {
    height: 36px !important;
    width: 214px !important;
    margin-left: 840px;;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: white;
    background-color: #6AB23D;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    display: flex;   border: 1.5px solid #6AB23D;
    align-items: center;
    justify-content: center;
    border-radius: 5px; cursor: pointer;
}
.broadcasts_list_selected_download:hover{
    background-color: #9AC57E;
    border: 1.5px solid #6AB23D;
}

.broadcasts_popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.32);
    z-index: 999;
    display: flex;
    justify-content: center;
}

.broadcasts_popup {
    margin: auto auto;
    ;
    background: white;
    border-radius: 18px;
    min-height: 344px;
    width: 524px
    ;
    position: relative;

    gap: 0px;
}

.broadcasts_popup-header {}

.broadcasts_popup-header-text {
    margin-top: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    letter-spacing: 0.2px;
    text-align: center;

}

.broadcasts_popup-close {
    height: 16px !important;
    width: 16px;
    position: absolute;
    top: 24px !important;
    right: 24px;
    cursor: pointer;
    color: #aaa;
    cursor: pointer;
}

.broadcasts_popup-body {
    display: flex;
    flex-direction: column;
    width: 484px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: Regular;
    vertical-align: middle;
    margin: 0 auto;
    margin-top:19px !important;
}
.broadcasts_popup-body > div{
    line-height: 19.2px !important;
}
.broadcasts_popup-option {
    margin-left: 51px;
    display: flex;
    align-items: center;
    font-size: 18px;

    cursor: pointer;
    position: relative;
}

.broadcasts_popup-option span {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    position: relative;
    padding-left: 62px;
}

.broadcasts_popup-option input[type="radio"] {
    display: none;
}

.broadcasts_popup-option input[type="radio"]+span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background-image: url("/public/images/history/circle.svg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.broadcasts_popup-option input[type="radio"]:checked+span::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 5px;
    width: 24px;
    height: 18px;
    background-image: url("/public/images/history/Vector_2.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.broadcasts_popup-option input[type="radio"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(133, 60, 255, 0.6);
}

.broadcasts_popup-option span {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
    position: relative;
}



.broadcasts_popup-footer {
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 239px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px !important;
    letter-spacing: 0.2px !important;
    text-align: center;
    vertical-align: middle;
     margin-top: 18px;;
        margin-bottom: 20px;;  height: 41px;; 
}

.broadcasts_popup_back {

    color: #853CFF;
}

.broadcasts_popup_send {
    cursor: pointer;
    display: flex;
    font-family: "Lato", sans-serif;
    align-items: center;
    justify-content: center;
    width: 138px !important;
    height: 41px;
    color: #6AB23D;
    margin-left: 20px;
    border:2px solid #6AB23D;
    border-radius: 8px;

}

.broadcasts_popup-submit {
    font-family: "Lato", sans-serif;
    width: 138px;
    height: 41px;
    background-color: white;
    color: #853cff;
    border: 2px solid #853cff;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 1px;
}

.broadcasts_popup-submit:hover {
    background-color: #853cff;
    color: white;
    border: 2px solid #853cff;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 1px;
}
.margin10{
    margin-top:10px !important;
}
}